# Copyright (C) 2013-2026 Christian Fischbach <cf@cflib.de>
#
# This file is part of cflib.
#
# Licensed under the MIT License.

.cache/
.claude/
.DS_Store
.vscode
*~
/bin
/js/dao
/js/net/logservice.js
build
build-*
CMakeLists.txt.user
config.cmake
test.log
