# Copyright (C) 2013-2023 Christian Fischbach <cf@cflib.de>
#
# This file is part of cflib.
#
# Licensed under the MIT License.

*.o
*.obj
*.pch
*~
.DS_Store
.vscode
CMakeLists.txt.user
Makefile
Makefile.*
build
build-*
config.cmake
