# Copyright (C) 2013-2022 Christian Fischbach <cf@cflib.de>
#
# This file is part of cflib.
#
# Licensed under the MIT License.

*.pro.user
*.o
*.obj
*.pch
Makefile
Makefile.*
.qmake.cache
.qmake.stash
build
build-*
.DS_Store
*~
moc_wrapper.sh
rcc_wrapper.sh
target_wrapper.sh

config.pri
bin
